beautifulsoup4==4.14.0
Django==5.2.6
google-api-core==2.25.1
google-api-python-client==2.183.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
gunicorn==23.0.0
httplib2==0.31.0
numpy==2.3.3
oauthlib==3.3.1
pillow==11.3.0
proto-plus==1.26.1
protobuf==6.32.1
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
setuptools==78.1.1
tzlocal==5.3.1
urllib3==2.5.0
